.popup__image {
    max-width: 75vh;
    max-height: 75vh;
    background-repeat: no-repeat;
    object-fit: contain;
    margin: auto;    
}

@media screen and (max-width: 492px) {
    .popup__image {
      max-width: 282px;
    }
 }