.footer {
    max-width: 880px;
    margin: auto;
    padding: 61px 19px 60px;
}

@media screen and (max-width: 320px) {
    .footer {
      padding-left: 19px;
      padding-right: 19px;
    }
        
  }